@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .title {
    @apply text-[40px] lg:text-[48px] font-bold leading-[1.18];
  }
  .paragraph-large {
    @apply text-[18px] leading-[1.5em];
  }
  .btn-large {
    @apply py-[18px] px-[30px] text-center;
  }
}
